@import "../../index.scss";

.base {
  aspect-ratio: 7/9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: transparent;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 0.25rem;
  border: 0.25rem solid $color-white;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: $color-sand;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-blueish;
  background-color: $color-white;
  transform: rotateY(180deg);

  font-size: 5rem;
}

.flipped {
  .inner {
    transform: rotateY(180deg);
  }
}
